$tamañoletraestandar: 1.25rem;
$colorletraestandar:  rgb(253, 253, 253);
$tamañoh1: 2.5rem;
$tamañoh: 2rem;
$paddingh: 1rem 3rem 1rem 3rem;
$colormarca: rgb(0, 255, 21);
$colorfondo:  #000000;
$paddingvideo: 2rem 5rem 5rem 5rem;
$paddingfoto: 1rem;
$paddingparrafo: 1rem 3rem 1rem 3rem;


